:root {
    --color1: purple;
    --color2: darkgrey;
    --textcolor: white;
    --box-width: 90%;
}

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: var(--color2);
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: var(--box-width);
    padding: 2%;
    margin: auto;
}
header h1, h2{
    color: var(--color1);
    text-align: center;
}
header p{
    color: var(--textcolor);
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin: auto;
    justify-content: space-evenly;
}

ul{
    list-style-type: none;
}
.box {
    border: dashed var(--textcolor);
    width: 25%;
    min-height:auto;
    padding: 1%;
    margin-top: 2%;
    
}

.box-header {
    color: var(--color1);
    text-align: left;
    padding: 2%;
    margin: auto;
    z-index: 2;
    border: solid 2px;
    background-color: var(--color2);
    border-radius: 5px;
    max-width: var(--box-width);
    position: relative;
    margin-top: -10%;
}

.box p {
    color: var(--color1);
    text-align: left;
    padding: 2%;
    margin: auto;
    max-width: var(--box-width);
}


#coder {
    color: var(--textcolor);
    text-align: left;
    padding: 2%;
    margin: auto;
    background-image: linear-gradient(var(--color2) 0%, var(--color1)100%);
    border-radius: 5px;
    max-width: var(--box-width);

}
.box:hover .box-header{
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.box:hover, .box:hover .box-header {
    box-shadow: inset 0px 0px 8px
    var(--color1), 0 0 15px
    var(--color1);
}

@media screen and (max-width: 992px) {
    .box {
        min-width: 40%;
    }
    header{ 
        max-width: 70%;
    }
}

@media screen and (max-width:768px) {
    .box{
        flex-direction: column;
        min-width: 100%;
        margin-top: 10%;
    }
    .box-header{
        margin-top:-7%;
    }
    header{
        max-width: 90%;
    }
}